@import "nullstyle.scss";
body{
    background-color: hsla(187, 5%, 69%, 0.279);
}
.price-image1{ 
    position: absolute;
    width: 65px;
    height: 25px;
    background-color: #1baf5d;
    right: 8px;
    top: 7px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    border-radius: 20px;
    padding: 7px 0 0 0;
}
.circle-image-long-1{
    position: absolute;
    top: 100px;
    left: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: #1baf5d;
    padding: 10px 0px 0 10px;
}
.circle-image1{
    position: absolute;
    top: 110px;
    left: 77px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: #1baf5d;
    padding: 12px 0 0 0;
}
    .circle-image4{
        position: absolute;
        top: 110px;
        left: 77px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid #fff;
        background-color: #1baf5d;
        padding: 12px 0 0 0;
}
.circle-image5{
    position: absolute;
    top: 110px;
    left: 77px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: #f19e1f;
    padding: 12px 0 0 0;
}
.circle-image2{
    position: absolute;
    top: 110px;
    left: 77px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: #f19e1f;
    padding: 12px 0 0 0;
}
.circle-image3{
    position: absolute;
    top: 110px;
    left: 77px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: #88499c;
    padding: 12px 0 0 0;
}
.width-top{
    max-width: 1300px;  
    margin: 0 auto;
    font-family: serif;
}
.header {
    height: 450px;
    &__general  {
        display: flex;
        width: 100%;
        height: 75px;
        
    }
    &__menu {
        flex: 1 0 auto;
        justify-content: flex-end;
    }   

    &__menu-list {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        padding: 25px 0 0 0 ;

        li a{
        padding: 0px 22px 0 0;
        height: 11px;
        color: #89b4b8;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
        }
         li:first-child{
             margin: -10px 110px 10px 10px;
        }
       
    }

    &__search {
        flex: 0 1 auto;
        width: 74px;
        height: 74px;
        background-color: #e2dee0;
        
    }

    &__search-icon {
        width: 100%;
        padding: 20px;
        margin: 18px;
        width: 30px;
        height: 30px;
        background: url(../fonts/search-solid.svg);
        opacity: 0.3;
        
    }

    &__login{
        flex: 0 0 auto;
        height: 75px;
        max-width: 317px;
        flex-grow: 0;
        background-color: #e94e38;
        padding: 30px 204px 34px 50px;
    span a{
        width: 100%;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;
    }
    span {
        padding: 0 0 0 20px;
    }
}
}
.stars-for-bot-body{
    background: url(../fonts/iconstars.png)left no-repeat;
}
.--icon{
    background: url(../fonts/user-solid.svg)left no-repeat;
}
.bottom-line{
    position: relative;
    width: 980px;
    height: 1px;
    background-color: #ffffff;
    margin: 0 auto;
    z-index: 2;
    opacity: 0.8;
}
.bottom-line1{
    position: relative;
    right:350px;
    width: 980px;
    height: 1px;
    background-color: #ffffff;
    margin: 0 0 0 100px;
    opacity: 0.8;
    z-index: 2;
}
.title-screen {
    position: relative;
    width: 476px;
    margin: 0 auto;
    text-align: center;
    height: 300px;
    &__title {
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin: 60px 0 35px 0;
    z-index: 2;
    }

    &__form {
        position: relative;
        z-index: 2;
        
    }

    &__input-2 {
        display: flex;
        justify-content: space-between;
        z-index: 2;
        input {
            width: 220px;
            height: 50px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background-color: #fff;
            margin: 0 0 20px 0;
            border-radius: 50px;
            opacity: 0.5;
            padding: 20px 20px;
            font-size: 18px;
            font-weight: 400;
        }
    }

    &__input-1 {
        input{
            
            width: 470px;
            height: 55px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background-color: #fff;
            padding: 0 0 0 20px ;
            border-radius: 50px;
            opacity: 0.5;
            font-size: 18px;
            font-weight: 400;
        }
    }

    &__button {
        position: relative;
        margin: 40px 0 0 0;
        z-index: 2;
        a{
            text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);  
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            line-height: 48px;
            text-transform: uppercase;
            padding: 25px 32px;
            box-shadow: 0 2px 0 #c1412e;
            background-color: #e94e38;
            border-radius: 50px;
        }
    }
    &__info-bot{
        position: relative;
        right: 250px;
        display: flex;
        width: 885px;
        z-index: 2;
        
        
    }
    &__info-3 {
        text-align: start;
        flex:0 0 33.333%;
        display: flex;
        flex-direction: column;
        
        p{
            width: 100%;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-decoration: underline;
            display: block;
            padding: 0 0 23px 0;
        }
    }
    &__info-1 {
        flex:1 0 33.333%;
        display: flex;
        flex-direction: column;
        text-align: start;
        p{
            width: 100%;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-decoration: underline;
        }
    }
    &__info-2 {
        flex:1 0 33.333%;
        text-align: start;
        display: flex;
        flex-direction: column;
        p{
            width: 100%;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-decoration: underline;
        }

    }

    &__icons-4 {
        display: flex;
        flex: 1 0 33.333%;
        img{
            padding: 0 20px 0 0;
        }
      
    }

    &__copyright {
            color: #c0bebc;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
    }

    &__img {
        
     img{
        position: absolute;
        top: -63px;
        left: -412px;
        width: 1300px;
        height: 370px;
      }
    }
    &__img2 {
        
        img{
           position: absolute;
           top: -63px;
           left: -412px;
           width: 1300px;
           height: 500px;
           
         }
       }
    &__list{
        
        padding: 23px 0 0 0;
    }
    &__list li{
        color: #c0bebc;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;

    }
}
.section__menu-list1 {
    color: red !important;
}
.button-location1{
    
        width: 125px;
        height: 35px;
        text-transform: uppercase;
        padding: 8px 0 0 20px;
        border-radius: 50px;
        border: 1px solid #96a6a7;
        margin: 0 20px 0 0;
    a{
        color: #e94e38;
        padding: 0px 30px 0px 0px;
        
    }
}
.button-location2{
         width: 125px;
        height: 35px;
        text-transform: uppercase;
        border: 1px solid #1baf5d;
        background-color: #1baf5d;
        border-radius: 50px;
        text-align: center;
        padding: 8px 0 0 0;
        a{
            color: #fff;
            padding: 0px 19px 0px 0px;
            
        }
}
.icon2 a{
    background: url(/fonts/iconlocation.png)right no-repeat;
}
.icon1 a{
    
    background: url(/fonts/chevron-down-solid.svg)right no-repeat;
}
.section {
    max-width: 980px;
    margin: 0 auto;
    
    
    &__location {
         height: 60px;
         width: 380px;
         padding: 10px 0px 0 60px;
         display: flex;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        padding: 4px 0 0 0;
        width: 60%;
        width:300px
    }
   
    &__menu-list {
        display: flex;
        li a{
            font-size: 12px;
            font-weight: 500;
            line-height: 48px;
            text-transform: uppercase;
            color: #96a6a7;
            padding:  0 20px 0 0 ;
        }
     }

    &__filter {
        width: 300px;
        display: flex;
        justify-content: space-around;
        padding: 8px 0 0 0px;
     }

    &__icon-name {
        color: #96a6a7;
        font-size: 12px;
        font-weight: 500;
        line-height: 46px;
        text-transform: uppercase;
       
    }
   
     &__icon {
        width: 40px;
        height: 40px;
        border-radius:50%;
        background-color: #1baf5d;
        padding: 8px 0 0 5px;
    }

		&__icon-2 {
            width: 40px;
            height: 40px;
            border-radius:50%;
           
            padding: 8px 0 0 5px;
            background-color: #b6c0c1;
            
		}

		&__icon-3 {
            width: 40px;
            height: 40px;
            border-radius:50%;
          
            padding: 8px 0 0 5px;
            background-color: #b6c0c1;
		}

		&__icon-4 {
            width: 40px;
            height: 40px;
            border-radius:50%;
            padding: 8px 0 0 5px;
            background-color: #f19e1f;
		}

		&__icon-5 {
            width: 40px;
            height: 40px;
            border-radius:50%;
        
            padding: 8px 0 0 5px;
            background-color: #88499c;
		}
}
.body-block-4-items {
    display: flex;
    margin: 0 30px 30px 0;
    
}

.body-image-1 {
    position: relative;
    text-align: center;
    box-shadow: 0 1px 0 #e2dee0;
    background-color: #fff;
    margin:0 46px 0 0;
    img{
        border-bottom: 3px solid #1baf5d;
    }

    &__middle-body{
        margin: 30px 0 24px 0;
        p{
            color: #566375;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
        }
    }
  
    a{
        color: #1baf5d;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    
    }
    &__bot-body{
        margin: 5px 0 30px 60px;
        width: 130px;
        p{
            padding: 0 0 0 20px;
        }
    }
    
}
.body-image-2 {
    position: relative;
    text-align: center;
    box-shadow: 0 1px 0 #e2dee0;
    background-color: #fff;
    margin: 0 46px 0 0;
    img{
        border-bottom: 3px solid #f19e1f;;
    }

    &__middle-body{
        margin: 30px 0 24px 0;
        p{
            color: #566375;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
        }
    }
  
    a{
        color: #1baf5d;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    
    }
    &__bot-body{
        margin: 5px 0 30px 60px;
        width: 130px;
        p{
            padding: 0 0 0 20px;
        }
    }
    
}
.body-image-3 {
    position: relative;
    text-align: center;
    box-shadow: 0 1px 0 #e2dee0;
    background-color: #fff;
    margin: 0 46px 0 0;
    img{
        border-bottom: 3px solid #88499c;;
    }
   
    &__middle-body{
        margin: 30px 0 24px 0;
        p{
            color: #566375;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
        }
    }
  
    a{
        color: #1baf5d;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    
    }
    &__bot-body{
        margin: 5px 0 30px 60px;
        width: 130px;
        p{
            padding: 0 0 0 20px;
        }
    }
    
}
.suggestion {
    position: absolute;
    top: 0;
    left: 0;
    padding: 23px 33px 0px 33px;
    z-index: 2;
    &__input {
        background:#b319e2;
        opacity: 0.8;
        width: 137px;
        height: 31px;
        border-radius: 30px;
        
    }

    &__content {
       position: relative; 
       width: 137px;
       height: 31px;
       border: 2px solid #ffffff;
       background-color: #b319e2;
       border-radius: 30px;
       padding: 0 0 0 33px;
       z-index: 50;
       p{
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        padding: 8px 0px 0 0px;
       }
    }
}
.icon3 {
    
    background: url(/fonts/iconsearch.png) 16px 3px no-repeat;
}
.icons-for-cover {
    display: flex;
    justify-content: space-evenly;
    img{
        margin: 20px 0 0 0;
    }
}
.cover-image{
    position: absolute;
    top: 0;
    right: 0;
}

.body-image-4 {
    position: relative;
    text-align: center;
    box-shadow: 0 1px 0 #e2dee0;
    background-color: #fff;
    margin: 0 0px 0 0;
    img{
        border-bottom: 3px solid #1baf5d;
    }

    &__middle-body{
        margin: 30px 0 24px 0;
        p{
            color: #566375;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
        }
    }
  
    a{
        color: #1baf5d;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    
    }
    &__bot-body{
        margin: 5px 0 30px 60px;
        width: 130px;
        p{
            padding: 0 0 0 20px;
        }
    }
  
}
.body-block-2-items {
    display: flex;  
    margin: 0 0 30px 0;
}
.body-long-image-1 {
    margin: 0 0px 0 5px;
    position: relative;
    background-color: #fff;
}
.iconstars-onimage{
    background: url(../fonts/iconstars.png)left no-repeat;
}
.image-avatar{
    padding: 0 0px 0 20px;
    img {
        border-radius: 50%;
        border: 1px solid rgb(168, 151, 151);
    }
}
.text-block {
    width: 455px;
    padding: 0 0 0 0px;
  
    &__on-img {
        position: relative;
        top: -40px;
        display: flex;
        padding: 0 0 0px 100px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;
        p{
            padding: 0 5px 0 0;
        }
    }
    &__on-response{
        padding: 0 0 0 60px;
    }
    &__main-staff{
        padding: 0 0 0 20px;
    }
    &__under-img {
        display: flex;
        color: #566375;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        font-weight: 300;
        padding: 0 0 20px 0px;
        width: 380px;
        
         p:first-child{
            color: #566375;
            font-size: 16px;
            font-weight: 700;
            line-height: 48px;
            text-transform: uppercase;
         }
    }
}

.body-long-image-2 {
    margin: 0 0px 0 50px;
    position: relative;
    background-color: #fff;
}
.body-block-3-items {
    display: flex;
    &__1 {
        margin: 0 0px 0 5px;
        position: relative;
        background-color: #fff;;
    }

    &__2 {
        
        position: relative;
        box-shadow: 0 1px 0 #e2dee0;
        background-color: #fff;
        margin:0 0 0 53px;
        text-align: center;
        img{
            border-bottom: 3px solid #1baf5d;
        }
        a{
            color: #1baf5d;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
        
        }
    }

    &__3 {
        
        position: relative;
        box-shadow: 0 1px 0 #e2dee0;
        background-color: #fff;
        margin: 0 0 0 45px;
        text-align: center;
        img{
            border-bottom: 3px solid #f19e1f;;
        }
        a{
            color: #1baf5d;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
        
        }
    }
}

.circle-image4 {
padding: 10px 0px 0 2px;
}

.circle-image5 {
    padding: 12px 2px 0 0px;
}

.fa-arrow-right{
    padding: 3px 0 0 5px;
}
.footer {
    text-align: center;
    &__top {
        color: #566375;
        font-size: 18px;
        font-weight: 500;
        line-height: 48px;
        text-decoration: underline;
        font-weight: 500;
    }
    &__head-text {
        p:first-child{
        color: #566375;
        margin: 90px 0 0 0;
        font-size: 22px;
        font-weight: 500;
        line-height: 48px;
        }
        p:last-child{
            color: #96a6a7;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin: 0 0 70px 0;
            }
    }

    &__icons5 {
        display: flex;
        justify-content: space-around;
        width: 760px;
        margin: 0 auto;
    }

    &__icons-1 {
        width: 100px;
        height: 100px;
        border: 2px solid #1baf5d;
        border-radius: 50%;
        img{
            padding: 25px 0 0 0;
        }

    }

    &__icons-2 {
        width: 100px;
        height: 100px;
        border: 2px solid #9dacad;
        border-radius: 50%;
        img{
            padding: 30px 0 0 0;
        }
    }

    &__icons-3 {
        width: 100px;
        height: 100px;
        border: 2px solid #9dacad;
        border-radius: 50%;
        img{
            padding: 25px 2px 0 0;
        }
    }

    &__icons-4 {
        width: 100px;
        height: 100px;
        border: 2px solid #9dacad;
        border-radius: 50%;
        img{
            padding: 25px 0 0 0;
        }
    }
    &__icons-5{
        width: 100px;
        height: 100px;
        border: 2px solid #9dacad;
        border-radius: 50%;
        img{
            padding: 25px 0 0 0;
        }
    }

    &__little-head-text {
        margin: 40px 0;
        color: #1baf5d;
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
    }
    &__major-text {
        display: flex;
        width: 700px;
        margin: 0 auto;
        padding: 0 0 150px 0;
    }

    &__major-text-1 {
        text-align: start;
        margin: 0 20px 0 0;
        color: #566375;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    &__major-text-2 {
        text-align: start;
        color: #566375;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    .footerr__circle{
        margin: 0 20px 0 0;
        flex: 0 0 auto;
        width: 50px;
        height: 50px;
        background-color: #1db05e;
        border-radius: 50%;
        img{
            padding: 12px 0 0 0;
        }
    }

}
.title-screen {
	
		&__input-bot {
            input{
                font-size: 20px;
                width: 492px;
                height: 60px;
                border: 1px solid rgba(255, 255, 255, 0.2);
                background-color: #ffffff;
                border-radius: 50px;
                opacity: 0.5;
                padding:0 0 0 20px;
            }
		}

		&__buttom {
            position: relative;
            top: -55px;
            left:368px;
            width: 120px;
            height: 50px;
            box-shadow: 0 2px 0 #c1412e;
            background-color: #e94e38; 
            border-radius: 50px;
            span {
                width: 82px;
                text-shadow: 0 1px 1px rgba(0, 0, 1, 0.15);
                color: #ffffff;
                font-size: 14px;
                font-weight: 500;
                line-height: 48px;
                text-transform: uppercase;
            }
            
		}
        &__info-bot{
            display: flex;
            margin: 44px 0 0 0;
        }
		
}
.font-style {
    color: #c0bebc;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
